body {
  text-align: center;
  border: #641E16 15px solid;
}
p{
margin-left: 10%;
  margin-right: 10%;s
  font-size-adjust: ;
  color:
}
video{
  margin-bottom: 10%;
}
.sexo{
  font-size: x-large;
  style="color: black
  font-family: Arial;
  font-size: 25px
}
body {
  background-image: url();
  background-size: cover;
  background-repeat: no-repeat;

}